$color-text-even: white;
$color-text-odd: black;
$background-page: #B9C4C9;
$background-body: #C9D1C8;
$background-header: #04202C;
$header-link: #FFFFFF;
$background-education: #063852;
$background-photo-gallery: #063852;
$background-photo-gallery-button: #ffffff;
$color-photo-gallery-button: black;
$color-counter: #2C7873;
$border-color-counter: #A1D6E2;
$background-color-counter: #F1F1F2;
$background-footer: #B7B3B6;
$color-portfolio: #B6452C;
$color-portfolio-hover: #EB8A3E;

// Прелоэдер

$background-color-preloader: #fff1e1;
